* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #e5e5e5;
  background-color: rgb(20, 20, 20);
  font-family: "Hind", sans-serif;
}


a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.banner-btn {
  cursor: pointer;
  font-size: 18px;
  color: #e5e5e5;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  padding: 15px 25px;
  background-color: rgba(51, 51, 51, .7);
  margin-bottom: 10px;
}

.banner-btn:hover {
  color: #000;
  background-color: hsla(0, 0%, 89.8%, .7);
  transition: all .2s;
}



@media only screen and (max-width: 991px) {
  .banner-btn {
    padding: 10px 20px
  }
} 

@media only screen and (max-width: 767px) {

} 