* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: skyblue;
  height: 100%;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 991px) {
  #root {
    height: auto;
  }
} 