.brand-images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.brand-images img {
    margin: 0 15px;
}

@media only screen and (max-width: 991px) {
    .brand-images {
        flex-wrap: wrap;
    }

    .brand-images img {
        margin-bottom: 20px;
        width: 50%;
        max-width: 320px;
        max-height: 80px;
    }
}



@media only screen and (max-width: 767px) {
    .brand-images {
        flex-direction: column;
    }
}