.footer {
    background-color: var(--form-input-background);
    display: block;
}

.footer-content {
    padding: 20px 30px;
    text-align: center;
}

.footer li {
    margin-bottom: 10px;
}

.footer li a {
    padding: 8px 16px;
    color: var(--text-color-white);
    font-size: var(--font-size-h3);
    font-weight: bolder;
}

.footer li a:hover {
    color: var(--footer-text-color-hover);
}