.nav {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    transition: all .5s ease-in-out;
}


.search {
    display: flex;
    flex-direction: row;
}

.search-bar {
    width: 200px;
    padding: 10px 35px 10px 15px;
    border: 2px solid hsla(0, 0%, 89.8%, .384);
    border-radius: 5px;
    outline: none;
    background: transparent;
    color: white;
    transition: width .4s ease-in-out;
}

.search-bar:focus {
    width: 300px;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}


.search-icon {
    width: 15px;
    height: 15px;
    object-fit: cover;
}



.title {
    font-size: 60px;
    margin-bottom: 20px;
}


.home:hover {
    color: red;
}

.active {
    background-color: #141414;
}


@media only screen and (max-width: 991px) {
    .title {
        font-size: 50px;
        margin-bottom: 15px;
    }

   
} 

@media only screen and (max-width: 767px) {
    .search-bar, .search-bar:focus {
        width: 150px;
    }


    .title {
        font-size: 40px;
    }
    
} 